<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.fithub">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Fithub"
        tools:targetApi="31">
        <activity
            android:name=".AboutComposeAcitivity"
            android:exported="false"
            android:label="@string/title_activity_about_compose_acitivity"
            android:theme="@style/Theme.Fithub" />
        <activity
            android:name=".AboutPageActivity"
            android:exported="false" />
        <activity
            android:name=".SuggestedExerciseActivity"
            android:exported="false" />
        <activity
            android:name=".DailyCaloriesActivity"
            android:exported="false" />
        <activity
            android:name=".ReceiveProgressPic"
            android:exported="false" />
        <activity
            android:name=".SendProgressPicActivity"
            android:exported="false" />
        <activity
            android:name=".UserHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".AppMenu"
            android:exported="false" />
        <activity
            android:name=".BMIActivity"
            android:exported="false" />
        <activity
            android:name=".BodyFatActivity"
            android:exported="false" />
        <activity
            android:name=".SecondActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.retrofittest.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>